@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;400;700&display=swap');
:root{
    --negro: #140f07;
    --azul-oscuro: #102b50;
    --azul: #086dbc;
    --aguamarina: #08bbff;
    --thin: 100;
    --regular: 400;
    --bold: 700;
}

body {
    font-family: 'Anek Telugu', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
main {
    background-color: azure;
    
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.container-card .triangle-inactive{
    display: none;
}
.nav-icons-container .icons-container .inactive{
    display: none;
}
header nav{
    display: grid;
    width: 100%;
    height: 8.1rem;
    grid-template-rows: 2fr 1fr 2fr;
    background-color: var(--azul);
    border-bottom: 2px solid  var(--azul-oscuro);
    
}
h2{
    margin: 5px;
}
nav section{
    display: flex;
    justify-content: center;
}
nav .nav-logo-container img{
    width: 2.6rem;
    margin-top: 0.3rem;
    
}
nav .nav-name-logo{
    font-size: 1rem;
    font-weight: var(--bold);
    height: auto;
    
}
nav .nav-name-logo p{
    margin: 0;
    color: aliceblue;
}
.nav-icons-container .icons-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.nav-icons-container .icons-container div{
    display: flex;
    flex-direction: column;
}
.icons-container div img{
    width: 2rem;
}
.icons-container .container-modesun{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container-modesun .mode{
    width: 1.2rem;
}
.icons-container div .mode-p{
    font-size: 0.5rem;
}
.icons-container .container-modenight{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container-modenight .mode{
    width: 1rem;
}
.icons-container div .mode-p{
    font-size: 0.5rem;
}
.icons-container div p{
    font-weight: var(--bold);
    margin: 0;
}
.p-body{
    padding-left: 5px;
}
.calculators-main{
    display: grid;
    
}
.title{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
.body-calculator{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 350px) );
    justify-content: center;
    box-sizing: border-box;
}

input, select{
    width:130px;
    
}
.figures-calculator{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 350px) );
    justify-content: center;
    box-sizing: border-box;
}
.statistics-calculator{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 350px) );
    justify-content: center;
    box-sizing: border-box;
}
.container-card .dataset{
    align-items: center;
    flex-flow: wrap;
}
.container-card .dataset p{
    width: 190px;
    font-size: 1rem;
    overflow-wrap:break-word;
}
.container-card{
    display: grid;
    background-color:aliceblue;
    border-radius: 10px;
    padding: 0 5px 5px 5px;    
    margin: 10px;
    border: 2px solid var(--azul-oscuro);
}
.container-card h3{
    margin: 10px 0;
    display: flex;
    justify-content: center;

}
.container-card div{
    padding-bottom: 20px ;
    display: flex;
    justify-content: center;
}

form div label{
    padding-right: 5px;
    
}
form div input{
    margin-right: 5px;
}
#result{
    display: flex;
    justify-content: center;
    margin: 0;
}
.result{
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.reset{
    margin-right: 10px;
}
footer{
    display: flex;
    width: 100%;
    height: 2rem;
    background-color: var(--azul);
    border-top: 2px solid  var(--azul-oscuro);
    align-items: center;
    justify-content: center;
}
button{
    height: 25px;
    border: 2px solid var(--azul-oscuro);
    border-radius: 5px;
    font-weight: var(--bold);
    background-color: var(--aguamarina);
    cursor: pointer;
}
footer p{
    font-weight: var(--regular);
    font-size: 0.8rem;
    margin: 0;
}
